<!DOCTYPE html>
<html>
	<head>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
		<title>Loja Vip</title>

		<% 

			var i = 0
			var nome		
			if(nome == undefined){
				nome = ''
			} else {
				nome = nome.split(' ')[0]
			}
			
		%>

		<script type="text/javascript">
			var total = 0
			var removidos = []

			function remover(id, i){		
				$.ajax({
					url: '/produto/carrinho/'+id,
					type: 'put',
					success: data => {
						
						if(data == 'adicionar'){
							$('#carrinho_'+id).html('<i class="fas fa-shopping-cart text-success mouse"></i>')
							total += parseInt($('#subtotal_'+i).text())
							$('#produto_'+i).removeClass('removido')
							$('#form_'+i).removeAttr('disabled')
							removidos = removidos.filter(index => {
								return index != i
							})


						} else {
							$('#carrinho_'+id).html('<i class="fas fa-shopping-cart cor_carrinho mouse"></i>')
							total -= parseInt($('#subtotal_'+i).text())
							$('#produto_'+i).addClass('removido')
							$('#form_'+i).attr('disabled', '0')
							removidos.push(i)
						}
						$('#valor_total').html(total)
					}
				})			
			}

			function calcular(quantidade, valor, i){
				if(quantidade < 1){
					quantidade = 1
					$('#form_'+i).val(1)
				}

				var valor_total = 0
				var subtotal = quantidade * valor
				$('#subtotal_'+i).html(subtotal)

				for(var a = 1; a <= <%=carrinho.length%>; a++){
					var pular = false

					removidos.forEach(removido => {
						if(removido == a) {
							pular = true
						}
					})
					
					if(pular){
						continue
					}
					valor_total += parseInt($('#subtotal_'+a).text())
				}
				$('#valor_total').html(valor_total)
				total = valor_total
			}

			$(() => {
				var valor_total = 0
				for(var a = 1; a <= <%=carrinho.length%>; a++){
					valor_total += parseInt($('#subtotal_'+a).text())
				}
				$('#valor_total').html(valor_total)
				total = valor_total
			})

		</script>

	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-yellow">
		  <a class="navbar-brand" href="/">
		  	<h4 class="logo">Loja Vip</h4>
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav ml-auto margem_navbar">
		      <li class="nav-item">
		        <a class="nav-link" href="/produtos">
		          <h6>Produtos</h5>
		        </a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/categorias">
		          <h6>Categorias</h6>
		    	</a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          <h6 class="inline">
		          	<%=nome%>
		          	<i class="far fa-user text-info"></i>
		          </h6>
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/login">Login/Cadastro</a>
		          <a class="dropdown-item" href="/favoritos">Favoritos</a>
		          <a class="dropdown-item" href="/pedidos">Pedidos</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="/sair">Sair</a>
		        </div>
		      </li>  
		      <li class="nav-item">  
		      	<a href="/carrinho" class="nav-link">
			      	<h5 class="inline">
			          	<i class="fas fa-shopping-cart text-info mouse"></i>
			      	</h5>
			      </a>
		       </li>
		    </ul>	
		</nav>

		<ul class="list-group m-3">
			<% 
				if(carrinho.length > 0){
					carrinho.forEach(produto => { 
						i++
			%>
				<li class="list-group-item" id="produto_<%=i%>">
					<div class="d-flex align-items-center">
						<img src="/imagens_produtos/<%=produto.imagem%>" class="col-5 col-md-3 img-fluid">
						<div>
							<a href="/produtos/<%=produto._id%>">
								<h5><%=produto.titulo%></h5>
							</a>
							<span><%=produto.resumo%></span>
							<h5>R$ <%=produto.valor%>,00</h5>
						</div>
						<h5 id="carrinho_<%=produto._id%>" onclick="remover('<%=produto._id%>', <%=i%>)" 		class="ml-md-auto">
							<i class="fas fa-shopping-cart text-success mouse"></i>
						</h5>
					</div>
					<div class="d-flex justify-content-center align-items-center">
						<h5>Quantidade: </h5>
						<input onchange="calcular(this.value, <%=produto.valor%>, <%=i%>)" type="number" class="form-control ml-2 mr-2 col-2 col-md-2 valor" value="1" id="form_<%=i%>">

						<h5>Subtotal: R$ <span id="subtotal_<%=i%>"><%=produto.valor%></span>,00</h5>
					</div>
				</li>			
			<% }) %>

			<li class="list-group-item">
				<div class="d-flex justify-content-end align-items-center">
					<h5 >Valor total: R$ <span id="valor_total"></span>,00</h5>
					<button class="btn btn-lg btn-outline-info ml-2">
						Comprar
					</button>
				</div>
			</li>
		<% } %>
		</ul>

		<footer>
			<div class="d-flex justify-content-center">
				<div>
					Copyright © 2020 Todos os direitos reservados
				</div>
			</div>
		</footer>

		
	</body>
</html>